<!DOCTYPE html>
<html>
	<head>
		<title>Dojo Secrets</title>
	</head>
	<body>
		<h1>Dojo Secrets</h1>
		<h2>Register</h2>
		<form action='/register' method='post'>
			{% csrf_token %}
			<p>Name: <input type="text" name="name" /></p>
			<p>Email: <input type="text" name="email" /></p>
			<p>Password: <input type="text" name="password" /></p>
			<p>Confirm Password: <input type="text" name="c_password" /></p>
			<p><input type="submit" value="Register" /></p>
			{% if messages %}
				{% for message in messages %}
					{% if 'register' in message.tags %}
						<p>{{message}}</p>
					{% endif %}
				{% endfor %}
			{% endif %}
		</form>
		<h2>Login</h2>
		<form action='/login' method='post'>
			{% csrf_token %}
			<p>Email: <input type="text" name="email" /></p>
			<p>Password: <input type="text" name="password" /></p>
			<input type="submit" value="Login" />
			{% if messages %}
				{% for message in messages %}
					{% if 'login' in message.tags %}
						<p>{{message}}</p>
					{% endif %}
				{% endfor %}
			{% endif %}
		</form>
	</body>
</html>