<!DOCTYPE html>
<html>
	<head>
		<title>Secrets</title>
	</head>
	<body>
	<h1>Hello, {{user.name}}</h1>
	<a href="/logout">Logout</a>
	<h2>Add Secret</h2>
	<form action='/addSecret' method='post'>
		{% csrf_token %}
		<textarea name='message' placeholder="Add secret here..."></textarea>
		<p><input type="submit" value="Submit" /></p>
	</form>
	<a href='/popular'>Most Popular Secrets</a>
	<h2>Recent Secrets</h2>
	{% for secret in secrets %}
		<p>{{secret.message}}</p>
		<p>{{secret.created_at|timesince:current_datetime}} ago</p>
		<p>{{secret.likes.all|length}} likes</p>
		{% if user not in secret.likes.all %}
			<a href='/likeSecret/{{secret.id}}'>Like</a>
		{% endif %}
		{% if user in secret.likes.all %}
			<p>You liked this</p>
		{% endif %}
		{% if secret.user == user %}
			<p>You posted This</p>
			<a href='delSecret/{{secret.id}}'>Delete</a>
		{% endif %}
	{% endfor %}
	</body>
</html>