<!DOCTYPE html>
<html>
	<head>
		<title>Portfolio 2</title>
		{% load staticfiles %}
		<link rel="stylesheet" href="{% static 'myapps/css/main.css' %}" type="text/css" />
	</head>
	<body>
		<h1>Welcome Ricky's Portfolio!</h1>
		<p><a href="{% url 'projects' %}">Projects</a> Check out my projects!</p>
		<p><a href="{% url 'about' %}">About</a> Get to know me!</p>
		<p><a href="{% url 'testimonials' %}">Testimonials</a> See what people have to say!</p>
		{{ request.session.name }}
		<form action="/hello" method="post">
			{% csrf_token %}
			<input type= "text" name="first_name" />
			<input type="submit" value="submit" />
		</form>
	</body>
</html>